GREATEST AMONG TWO NUMBERS

In [4]:
num1 = int(input())
num2 = int(input())
print(num1,num2)
if (num1 > num2):
    print(num1)
else:
    print(num2)

7 5
7

EQUAL NUMBER

In [7]:
first_line = int(input())
second_line = int(input())
print(first_line)
print(second_line)
if (first_line == second_line):
    print("Equal")
else:
    print("not Equal")

6
5
not Equal

Positive or negative

In [12]:
a = int(input())
if (((a>0) or (a<0)) or (a==0)):
    print("positive")
else:
    print("negative")

positive

In [19]:
a = int(input())
if a>0:
    print("postive")
elif a<0:
    print("negative")
elif a==0:
     print("zero")
else:
    print(end)

postive

Vote Eligibility

In [21]:
age = int(input("enter your age:"))
print(age)
if age >= 18:
    print("Eligibile")
else:
    print("not Eligibile")

20
Eligibile

SQUARE OR RECTANGLE

In [23]:
length_of_box = int(input())
breadth_of_box = int(input())
print(length_of_box)
print(breadth_of_box)
if (length_of_box == breadth_of_box):
    print("Square")
else:
    print("Rectangle")

10
5
Rectangle

Bonus salary

In [ ]:
salary = int(input())
year = int(input())

"Valid Triangle"

In [2]:
first_Angle = int(input())
second_Angle = int(input())
third_Angle = int(input())
sum = (first_Angle+second_Angle+third_Angle)
print(sum)
if (sum <= 180):
    print("Triangle")
else:
    print("it not a Triangle")

270
it not a Triangle

"Lucky Number"

In [5]:
first_line = int(input())
second_line = int(input())
print(first_line,second_line)
if (first_line == 6) or (second_line == 1):
    print("Lucky")
else:
    print("Not Lucky")

3 2
Not Lucky

valid Triangle

In [10]:
a = int(input())
b = int(input())
c = int(input())
d = a+b>c
e = b+c>a
f = c+a>b
print(d,e,f)
if d and e and f:
       print("Triangle")
else:
    print("Not Triangle")

True True True
Triangle

Greatest Among three numbers

In [15]:
a = int(input())
b = int(input())
c = int(input())
print(a,b,c)
d = a>b
e = b>c
f = c>a
print(d,e,f)
if (d or e or f):
    print("")
else:
    print("not a greatest number is:")

2 5 7
False False True
greatest number is:

In [33]:
a = int(input())
b = int(input())
c = int(input())
print(a,b,c)
if b<=a:
    print(a)
elif a<=c:
    print(c)
elif c<=b:
    print(b)

3 5 7
7

"Postive or Negative"

In [38]:
n = float(input())
if (n>0):
    print("postive")
elif (n<0):
    print("negative")

postive

"Relation between number"

In [44]:
a = int(input())
b = int(input())
print(a,b)
if (a<b):
    print("a<b")
else:
    print("a>=b")

20 40
a<b

"sum or product"

In [49]:
int1 = int(input())
int2 = int(input())
print(int1,int2)
sum = int1+int2
print(sum)
sub = int1*int2
if (sum<10):
    print(sum)
else:
    print(sub)

42 10
52
420

"Smallest Among 3 Number"

In [60]:
a = int(input())
b = int(input())
c = int(input())
print(a,b,c)
if a<=b and a<=c:
    print(a)
else:
    if b<=c and b<=a:
        print(b)
    else:
        print(c)

30 26 85
26

Lucky number-2

In [65]:
num1 = int(input())
if (num1/6) and (num1/3):
    print("number is divisible by 6")
if num1/3:
    print("number is divisible by 3")
if num1/2:
    print("number is divisible by 2")
else:
    print("number is not divisible by 2 3 or 6")

number is divisible by 6
number is divisible by 3
number is divisible by 2

In [71]:
num = int(input())
print(num)
num1 = num/6 
num2 = num/3
num3 = num/2
if (num1) and (num2):
    print("divisible ")
else:
    print("not divisible")

517
divisible

3 digit Armstrong number

In [29]:
# num = int(input())
# print(num)
# print(str(len(num)))
# a = (num[0])
# b = (num[1])
# c = (num[2])
# print(a,b,c)
# A = (a)
# B = (b*b*b)
# C = (c*c*c)
# print(A,B,C)
a = int(input())
b = str(a)
c = b[0]
d = int(c)**3
e = b[1]
f = int(e)**3
g = b[2]
h = int(g)**3
i = d+f+h
print(i)
if i == a:
    print("True")
else:
    print("False")

197
False

In [4]:
x = lambda a:a*10
print(x(100))

1000

In [9]:
x = lambda a:a**2
print(x(6))

36

In [11]:
x = lambda a,b,c:(b**2-4*a*c)*0.5/2*a
print(x(2,3,4))

-11.5

In [14]:
def name(my_name):
    return my_name

print(name("sandhya rani rathlavath"))

sandhya rani rathlavath

In [15]:
def myfunc(n):
  return lambda a : a * n

mydoubler = myfunc(2)

print(mydoubler(11))

22

In [18]:
def greeting():
    print("hello")
name = input()
greeting()
print(name)

hello
vasavi

In [21]:
def function_name():
    print("hello world")
a = 10
b = 20
add = a+b
function_name()
print(add)
sub = b-a 
print(sub)
mul = a*b
print(mul)
function_name()

hello world
30
10
200
hello world

In [23]:
def function_name():
    hi = "hello"+"world"
    print(hi)
a = 12
b = 20
print(a+b)
function_name()

32
helloworld

In [25]:
def function_name(argument):
    hi = "hello"+argument
    print(hi)
name = input()
print(name) 
function_name(argument=name)

sandhya
hellosandhya

In [29]:
def function_name(name):
    family = "ghansiram"+name
    print(family)
name1 = input()
print(name1)
function_name(name=name1)

bindhu
ghansirambindhu

"returning value in function"

In [32]:
def function_name(args):
    hi = "hello"+args
    return hi
name = input()
fun = function_name(args=name)
print(fun)

hellobindhu

In [40]:
def function_name(sum):
    num = "sandhya"+sum
    return num
    print(num)
name = input()
fun = function_name(sum=name)
print(fun)
fun = function_name(sum="rani")
print(fun)

sandhyasandhya
sandhyarani

"keyword arguments"

In [44]:
def function_name(argu_1,argu_2):
    hi = argu_1 + " " + argu_2
    print(hi)
name1 = input()
name2 = input()
function_name(argu_1=name1,argu_2=name2)
function_name(argu_2=name1,argu_1=name2)
function_name(argu_2=name2,argu_1=name1)

sandhyarani rathlavath
rathlavath sandhyarani
sandhyarani rathlavath

"positional arguments"

In [48]:
def function_name(a1,a2):
    function = a1+" "+a2
    print(function)
fun1 = input()
fun2 = input()
function_name(fun1,fun2)
function_name(fun2,fun1)

i h
h i

"defult arguments"

In [50]:
def fun_name(a1 = "hi",a2 = "sandhya"):
    fun = (a1+" "+a2)
    print(fun)
fun1 = input()
fun2 = input()
print(fun1)
print(fun2)
fun_name()
fun_name ("sindhu") 
fun_name ("hello","ruhi")
fun_name (a2="manjula")

god
save
hi sandhya
sindhu sandhya
hello ruhi
hi manjula

"Paassing Immutable Objects"

In [54]:
def function_name(a):
    a += 1
a = int(input())
function_name(a)
print(a)

6

In [56]:
def function_name(n):
    fun1 = lambda a:a*n
    print(fun1)
    return(fun1)
name = input()
fun2 = function_name(12)
print(name)

<function function_name.<locals>.<lambda> at 0x00000250E4537A68>
10

"FUNCTION ON SORRY"

In [5]:
def function_name(argu1,argu2):
    name = argu1+" "+argu2
    print(name)
name1 = input()
name2 = input()
print(name1)
print(name2)
fun1 = function_name(argu1=name1,argu2=name2)
# fun2 = function_name(argu1=name1,argu2=name2)

sorry for the delay
message
sorry for the delay message